@charset "ISO-8859-1";


body {
	margin: 0;
	padding: 0;
	background: linear-gradient(to right, #00AAFF, #00FF6C);
}
#button
{
	position:absolute;
	visibility: hidden;
	background-color: rgba(255,255,255,.9);
	border-radius:60%;
	width: 100px;
	height: 100px;
	
}

#start {
	margin: auto;

}
.header{
	font-family: "Times New Roman";	
	text-align: center;
	font-size: 5rem;
	
}
.timer {
	text-align: center;
}

.counter {
	text-align: center;

}



