@charset "ISO-8859-1";


body {
	margin: 0;
	padding: 0;
	background: #343434;
}
#button
{
	position:absolute;
	visibility: hidden;
	background-color: rgba(255,255,255,.9);
	border-radius:60%;
	width: 100px;
	height: 100px;
	
}

#start {
	position: fixed;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family:"Lucida Console";

}

#restart {
	position: fixed;
	top: 40%;
	left: 50%;
	margin:auto;
	tranform: translate(-50%,-50%);
	font-family:"Lucida Console";
}

.header{
	font-family: "Lucida Console";	
	margin-top: 50px;
	text-align: center;
	font-size: 5rem;
	color: #DDDDDD;
}
.timer {
	text-align: center;
	color: #DDDDDD;
	font-family:"Lucida Console";
}

.counter {
	text-align: center;
	color: #DDDDDD;
	font-family:"Lucida Console";
}



