@charset "ISO-8859-1";


body {
	margin: 0;
	padding: 0;
	background: linear-gradient(to right, #00AAFF, #00FF6C);
}
#button
{
	position:absolute;
	background-color: rgba(255,255,255,.9);
	border-radius:60%;
	width: 100px;
	height: 100px;
	
}

#start {
	margin-left: 95vh;
}
.header{
	font-family: "Times New Roman";	
	margin-left: 50vh;
	font-size: 5rem;
	
}
.timer {
	margin-left: 70vh;
}

.counter {
	margin-left:95vh;
	
	
	
}



